*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 3rem;
    font-family: sans-serif;
    background-image: url(table.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

p{
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
}

.start{
    background-color: goldenrod;
    font-size: 1.5rem;
    width: 300px;
    height: 70px;
    color: green;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;

}

.newCard{
    background-color: goldenrod;
    font-size: 1.5rem;
    width: 300px;
    height: 70px;
    margin: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    color: green;
}