*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 2.5rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input{
    border: 1px solid rgb(19, 160, 19);
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

#input-btn{
    background-color: rgb(19, 160, 19);
    color: white;
    width: 300px;
    height: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    position: absolute;
    left: 1px;
    top: 100px;
    border: none;
}