*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 3rem;
    background-image: url(station.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#increment-btn{
    background-color: rgb(17, 201, 17);
    padding: 2rem;
    margin: 0.5rem;
    align-content: center;
    font-size: 2rem;
    color: white;
    align-items: flex-start;

}